.card{
  border: 1px solid black;
  max-width: 200px;
  text-align: center;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px hsla(0, 0%, 0%, 0.201);
  display: inline-block;
}

.card img{
  width: 70%; 
  height: auto;
  border: 2px solid palevioletred;
  border-radius: 15px;
}